{% extends 'base.html' %}
{% set active_page = "fruits" %}
{% block content %}
<h2 class="text-center">Fruit Listings Directory</h2>
{% for fruit in fruits %}
<div class="row">>
   <div class="col-md-4 col-lg-4 col-sm-12">
    <div class="card shadow-lg p-3 mb-5 bg-white rounded">
     <div class="card-img">
      <img src="#" class="img-fluid">
     </div>
     
     	<div class="card-body">
     		<center>
			<h4 class="card-title"{{ fruit.prod_name }}</h4><br>
			<p class="card-text">
			Available after: {{ fruit.avail_date }}<br>
			Description: {{ fruit.describe }}<br>
		</p>
		    </center>
		</div>
     <div class="card-footer">
     	{% if 'user_id' in session %}
     	<form>
     	<center>
     	<a class="btn btn-success btn-lg" href="../send_message" role="button">Send Gardener A Message</a>	
    	<!-- <button type="submit" formaction='../send_message'>Send Gardener a Message</button> -->
    	</center>
		</form>
      <!-- <a href='../send_message' class="card-link">Send A Gardener a Message</a> -->
      {% endif %}
     </div>
    </div>
   </div>
{% endfor %}
{% endblock %}  

