{% extends 'base.html' %}
{% set active_page = "herbs" %}
{% block content %}
<div class="container shadow-lg p-3 mb-5 bg-white rounded">
<center>
<img class="image-fluid" src="static/images/herb-heading.jpg">
</center>
</div>
<div class="row">
{% for herb in herbs %}

   <div class="col-md-4 col-lg-4 col-sm-12">
    <div class="card shadow-lg p-3 mb-5 bg-white rounded">
     <div class="card-img">
      <img src="#" class="img-fluid">
     </div>
     
     	<div class="card-body">
     		<center>
			<h4 class="card-title"{{ herb.prod_name }}</h4><br>
			<p class="card-text">
			Available after: {{ herb.avail_date }}<br>
			Description: {{ herb.describe }}<br>
		</p>
		    </center>
		</div>
     <div class="card-footer">
 	   
     	{% if 'user_id' in session %}
     	<a class="btn btn-success btn-lg btn-block mButton" href="../send_message" role="button">Send {{ herb.user.username }} A Message</a>	
      {% endif %}
  	</div>
     </div>
    </div>
   
{% endfor %}
</div>
<script>
 //Add recipient username from button to local storage in order to retrieve info on send messages page.
  const mButtons = document.getElementsByClassName("btn btn-success btn-lg btn-block mButton");
  const len = mButtons.length;
  console.log(mButtons);
  console.log(len);
  for (i = 0; i < len; i++) { 
      mButtons[i].addEventListener("click", function(event) {
        const buttonList = event.target.innerHTML.split(' ');
        const usernameInfo = buttonList[1];
        localStorage.setItem('userNameInfo', usernameInfo);
        console.log(localStorage.getItem('userNameInfo'));
  });}
              
                        
  </script> 
{% endblock %}  
 