{% extends 'base.html' %}
{% set active_page = "home" %}
{% block content %}

<h1>Share and Trade From Your Garden</h1>

<h2>Gardens By Area</h2>
<p><a href="/garden_areas">View gardens by area</a></p>

<h2>Vegetables</h2>
<p><a href="/vegetables">View all vegetables</a></p>

<h2>Fruits</h2>
<p><a href="/fruits">View all fruits</a></p>

<h2>Herbs</h2>
<p><a href="/herbs">View all herbs</a></p>

<h2>Nuts</h2>
<p><a href="/nuts">View all nuts</a></p>

<h2>Seeds</h2>
<p><a href="/seeds">View all seeds</a></p>


{% endblock %}