{% extends 'base.html' %}
{% set active_page = "img_upload" %}
{% block content %}
<br>
<h2>Upload A Profile Photo:</h2><br>

<form action="/users_profile/img_upload.html" method="POST" enctype="multipart/form-data">
	<input type="file" id= "usr_img" name="usr_img" accept="image/*"><br><br>
	<button type="submit" value="Submit Photo">Submit Photo</button><br>

<h2>Upload A Photo of Your Produce:</h2><br>

<form action="/users_profile/img_upload.html" method="POST" enctype="multipart/form-data">
	<input type="file" id= "prod_img" name="prod_img" accept="image/*"><br><br>
	<button type="submit" value="Submit Photo">Submit Photo</button><br>

<h2>Upload A Photo of Your Garden:</h2><br>

<form action="/users_profile/img_upload.html" method="POST" enctype="multipart/form-data">
	<input type="file" id="gard_img" name="gard_img" accept="image/*"><br><br>
	<button type="submit" value="Submit Photo">Submit Photo</button>

{% endblock %}  