{% extends 'base.html' %}
{% set active_page = "login" %}
{% block content %}
<h2 class="text-center">Login Form</h2>
<center>
<div class="col-md-8 col-lg-8 col-sm-12">
 <div class="card shadow-lg p-3 mb-5 bg-white rounded">
  <form action='/login' method = "POST">
    <div class="card-body">
        <center>
          <p class="card-text text-center"> 
            <div class="form-group">
                    <center>
                   	  <div class="form-group row">
                       
                      	<div class="col-md-12 col-lg-12 col-sm-12">
                      
                              Email:<input type="email" name="email" class="form-control" id="inputEmail3" placeholder="Email">
                    
                        			Password:<input type="password" name="password" class="form-control" id="inputPassword3" placeholder="Password"><br>
                        			<button type="button submit" class="btn btn-success btn-lg btn-block">Login</button>
                      		</div>
                     		</div>
                  
              </center>
            </div>
          </p>
        </center>
       </div>               
    </form>
   </div>               
</div>

{% endblock %}