{% extends 'base.html' %}
{% block content %}

<h1>Messages</h1>
<div class="form-group">
 	  <div class="form-group row">
 	  	<div class="col-sm-10">
			From: {{ message.sender_username }}<br>
			To:   {{ message.recipient_username }}<br>
			Message: <br>{{ message.body}}<br>
			<br>
				<form>
    			<button type="submit" formaction='../send_message'>Reply</button>
			</form>
		</div>
	  </div>
</div>
<h2>Previous Messages:</h2><br>

{% for m in messages %}
From: {{ m.sender_username }}<br>
To: {{ m.recipient_username }}<br>
Message: {{ m.body }}<br>
{% endfor %}

{% endblock %} 