{% extends 'base.html' %}
{% set active_page = "messages" %}
{% block content %}

<center>
<div class="col-md-6 col-lg-6 col-sm-12">
<div class="container-fluid shadow-lg p-3 mb-5 rounded" id="green-message-header">
<h2 class="text-center"<h2>Messages</h2>
</div>
</div>
</center>
<center>
<div class="col-md-6 col-lg-6 col-sm-12">
    <div class="card shadow-lg p-3 mb-5 bg-white rounded">

	<div class="rale card-body">
        <center>
        <p id="m-text1" class="card-text"> 
  		<dl>
		<dd><h3>From: {{ message.sender_username }}</h3></dd>

		<dd><br>{{ message.body}}</dd>
		</dl>
		</p>
				<form>
    			<a id='message-button1' class="btn btn-success btn-lg btn-block" type="submit" role="button" href='../send_message'>Reply</a>
			</form>
		</center>
	</div>
	  </div>
</div>

<div class="col-md-6 col-lg-6 col-sm-12">
  <div class="card shadow-lg p-3 mb-5 bg-white rounded">

	<div class="rale card-body">
        <center>
        <p id="m-text2" class="card-text"> 
		<h2>Previous Messages:</h2><br>

			{% for m in messages %}
			<h5>From: {{ m.sender_username }}</h5>
			 {{ m.body }}<br>
		</p>
<form>
    <a id='message-button2' class="btn btn-success btn-lg btn-block" type="submit" role="button" href='../send_message'>Reply</a>
</form
{% endfor %}

{% endblock %} 