{% extends 'base.html' %}
{% block content %}
<h2>New Listing</h2>
  <ul>
  	<li>
  		Name: {{prod_name}}<br>
  		{% if prod_type == 1 %}
  		Category: Vegetable
  		{% elif prod_type == 2 %}
  		Category: Fruit
  		{% elif prod_type == 3 %}
  		Category: Herbs
  		{% elif prod_type == 4 %}
  		Category: Seeds
  		{% elif prod_typ == 5 %}
  		Category: Nuts
  		{% endif %}
  		<br>
  		Availability Date: {{avail_date}}<br>
      Description: {{describe}}<br>
      Gardener: {{ gardener }}
  	</li>
 </ul>

 <a href="img_upload.html">Add a photo of your produce or garden</a>

{% endblock %}  