{% extends 'base.html' %}
{% set active_page = "send_message" %}
{% block content %}


<h1> Send Message</h1>

<form action="/send_message" method="POST">

  <div class="form-group">

 	  <div class="form-group row">
 	  	<div class="col-sm-10">
 	  	  Enter your username: <input type='text' name='sender_username' class='form-control' required><br>
      
      	  Enter recipient's username: <input type='text' name='recipient_username' class='form-control' id="recipient" required><br>

          Enter message here:<input type="textarea" name="body" class="form-control" id="body" placeholder="body"><br>

          <button type="submit" class="btn btn-success btn-lrg">Send</button>
          </div>
        
  	  </div>
  </div>

</form>

<script>
 const recipient = localStorage.getItem('userNameInfo');

 document.getElementById('recipient').value = recipient;
</script>


{% endblock %}  