{% extends 'base.html' %}
{% set active_page = "users_profile" %}
{% block content %}

<h2>User Profile</h2>

<figure>
  <img src="/static/uploads/profile_pics/{{usr_img}}"
       alt="User photo"
       width="250"
       height="250">
</figure>
  <ul>
  	<li>
  		Name: {{user.fname}} {{user.lname}}<br>
  		Username: {{user.username}}<br>
  		Email: {{user.email}}<br>
  		Address: {{user.address}}<br>
  		City: {{user.city}}<br>
  		State: {{user.state}}<br>
  		Zipcode: {{user.zipcode}}<br>
  	</li>
 </ul>
<br>

<a href="img_upload.html">I want to add a profile picture!</a>

<br>
<a href="produce_add.html">I want to add a new produce listing!</a>

<br>
<a href="messages.html">Check my messages</a>





{% endblock %}