{% extends 'base.html' %}
{% set active_page = "vegetables" %}
{% block content %}
<h2 class="text-center">Vegetable Listings Directory</h2>
{% for vegetable in vegetables %}
     <div class="row">
       <div class="col-md-4 col-lg-4 col-sm-12">
        <div class="card shadow-lg p-3 mb-5 bg-white rounded">
         <div class="card-img">
          <img src="/static/uploads/prod_img/{{vegetable.prod_img}}" class="img-fluid img-thumbnail">
         </div>
         	<div class="card-body">
         		<center>
      		<p class="card-text">	
          <dl>
            <dt><h3>{{ vegetable.prod_name}}</h3></dt>
            <dd>{{ vegetable.describe }}</dd>
      		  <dt>Available:</dt>
            <dd>{{ vegetable.avail_date }}</dd>
          </dl>
          </p>
          <figure>
          <img src="/static/uploads/profile_pics/{{vegetable.user.usr_img}}"class="img-fluid img-thumbnail" alt="User photo"
           width="100"
           height="100">
          </figure>
      	    </center>
      	</div>
         <div class="card-footer">
         	{% if 'user_id' in session %}
         	<form>
         	<center>
         	<a class="btn btn-success btn-lg" href="../send_message" role="button">Send {{ vegetable.user.username }} a message</a>	
        	<!-- <button type="submit" formaction='../send_message'>Send Gardener a Message</button> -->
        	</center>
      	</form>
      </div>
          <!-- <a href='../send_message' class="card-link">Send A Gardener a Message</a> -->
          {% endif %}
        </div>
         </div>

        </div>
{% endfor %}

{% endblock %}  
